---
language: ruby
before_install: "gem install bundler -v '< 2.0'"
bundler_args: --without tools
script: bundle exec rake ci
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - ruby-head
  - jruby-9.2.11.0
  - jruby-head
  - truffleruby
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: jruby-9.2.11.0
    - rvm: truffleruby
  fast_finish: true
branches:
  only: master
notifications:
  email: false
